<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MusicalSketches"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="10"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SongPlayer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MusicalLibrary"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name=".SongSelect"
            android:label="@string/app_name" >
            
        </activity>
       <activity
            android:name=".EditModeLegacy"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PlaybackModeLegacy"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PlaybackMode"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>